.navbar{
  color: rgba(255, 255, 255, .85);
  font-size: 1rem;
  padding-top: .45rem;
}
.container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.jumbotron{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
    background-size: cover;
    text-align: center;
  
}
